.sliderwrapper{
	position: relative; /*leave as is*/
	overflow: hidden; /*leave as is*/
	width: 615px; /*width of featured content slider*/
	height: 215px;
	background: #333333;
	top: -2px;
	left: 4px;
}

.contentdiv{
	visibility: hidden;
	position: absolute; 
	left: 0;
	top: 0;
	background: #333333;
	width: 600px;
	height: 100%;
	filter: alpha(opacity=100);
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}

.contentdiv img{
	margin: 0px;
	padding: 0px;
}

.pagination{
	width: 515px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
	height: 20px;
	text-align: right;
	background: #180d1e;
	padding-top: 5px;
	padding-right: 10px;
}

.pagination a{
	float: left;
	display: block;
	height: 20px;
	width: 15px;
	padding: 0px;
	margin-left: 5px;
	text-align: center;
	text-decoration: none; 
	background: #4e305f;
	color: #ffffff;
}

.pagination a:hover, .pagination a.selected{
	background: #7d5394;
}